@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic");
@font-face {
  font-family: 'Muller';
  src: url("../fonts/Fontfabric-MullerBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal; }

html, body {
  height: 100%;
  font: 15px/15px 'Roboto', sans-serif;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #363636; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.main-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 2px;
  margin-bottom: 70px; }
  .main-menu .logo + p {
    align-self: center;
    margin: 7px 0 0 3px;
    font-size: 14px;
    line-height: 1.1em;
    flex-grow: 0; }
  .main-menu__payment {
    flex-grow: 1;
    text-align: right; }
  .main-menu__made-uk {
    flex-grow: 1;
    text-align: center; }
  @media (min-width: 960px) and (max-width: 1150px) {
    .main-menu__payment a, .main-menu__payment button, .main-menu__made-uk a, .main-menu__made-uk button {
      font-size: 1.1vw;
      padding: 1.5vw; } }
  .main-menu__social {
    flex-grow: 1;
    text-align: center; }
    .main-menu__social > a {
      margin-left: 7px;
      margin-right: 7px;
      display: inline-block;
      vertical-align: middle; }
      @media (min-width: 960px) and (max-width: 1150px) {
        .main-menu__social > a {
          margin-left: 0.1vw;
          margin-right: 0.1vw; } }
      .main-menu__social > a img {
        height: 23px; }
  .main-menu__login .btn-white {
    width: 184px; }
    @media (min-width: 960px) and (max-width: 1150px) {
      .main-menu__login .btn-white {
        font-size: 1.1vw;
        padding: 1.5vw;
        width: auto; } }
  .main-menu__profile > a {
    display: inline-block;
    width: 240px;
    text-transform: uppercase;
    color: #9fa3b0;
    font-weight: bold;
    font-size: 0.85em;
    margin-right: 30px;
    text-align: right;
    line-height: 2em;
    overflow: hidden; }
    @media (min-width: 960px) and (max-width: 1150px) {
      .main-menu__profile > a {
        width: 21vw;
        font-size: 1.1vw; } }
  .main-menu__profile .profile__name {
    color: #363636;
    text-transform: capitalize;
    font-size: 1.35em;
    font-weight: 500;
    white-space: nowrap; }

.nav-menu {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  border-top: 1px solid #D8DCDE;
  background-color: #FFF; }
  .nav-menu__items {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1320px;
    font-weight: 500;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between; }
    @media (min-width: 960px) and (max-width: 1150px) {
      .nav-menu__items {
        font-size: 1.7vw; } }
    .nav-menu__items a {
      font-size: 1.1em;
      padding: 28px 10px 25px;
      transition: color 0.2s; }
      .nav-menu__items a:hover {
        color: #008D21; }
      .nav-menu__items a:focus, .nav-menu__items a:active {
        text-decoration: underline; }
    .nav-menu__items__search {
      align-self: center;
      padding: 4px 0 0 !important;
      margin-right: 10px;
      text-align: left;
      cursor: pointer;
      height: 34px;
      width: 182px;
      border: none;
      border-left: 1px solid #D8DCDE;
      background: url(../images/search.svg) 27px center no-repeat;
      text-indent: 60px;
      font-family: 'Muller';
      font-size: 1.1em;
      text-transform: uppercase;
      color: #9fa3b0; }
  .nav-menu.fxd {
    position: fixed;
    top: 0px;
    z-index: 3;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

.mobile-menu {
  display: none; }

.btn-red {
  text-transform: uppercase;
  border-radius: 2px;
  padding: 19px 20px;
  border: none;
  color: white;
  font-family: 'Muller';
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.85rem;
  line-height: 13px;
  position: relative;
  background-color: #EF5937;
  transition: opacity 0.2s;
  opacity: 1;
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.11); }
  .btn-red:focus {
    outline: none;
    text-decoration: underline; }
  .btn-red:hover {
    opacity: 0.7; }

.btn-white {
  text-transform: uppercase;
  border-radius: 2px;
  padding: 19px 20px;
  border: none;
  color: #008D21;
  font-family: 'Muller';
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.85rem;
  line-height: 13px;
  position: relative;
  background-color: transparent;
  transition: opacity 0.2s;
  opacity: 1;
  border: 1px solid #008D21; }
  .btn-white:focus {
    outline: none;
    text-decoration: underline; }
  .btn-white:hover {
    opacity: 0.7; }

.btn-green {
  text-transform: uppercase;
  border-radius: 2px;
  padding: 19px 20px;
  border: none;
  color: white;
  font-family: 'Muller';
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.85rem;
  line-height: 13px;
  position: relative;
  background-color: #008D21;
  transition: opacity 0.2s;
  opacity: 1; }
  .btn-green:focus {
    outline: none;
    text-decoration: underline; }
  .btn-green:hover {
    opacity: 0.7; }

.shadow-first {
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.05), -4px 0px 4px rgba(0, 0, 0, 0.05), 4px 0px 4px rgba(0, 0, 0, 0.05); }

.shadow-middle {
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.05), 4px 0px 4px rgba(0, 0, 0, 0.05); }

.shadow-last {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05), -4px 0px 4px rgba(0, 0, 0, 0.05), 4px 0px 4px rgba(0, 0, 0, 0.05); }

.shadow-along {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }

.mb15 {
  margin-bottom: 15px; }

article {
  width: calc(50% - 20px);
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: opacity 0.2s;
  padding-top: calc(56.25% / 2);
  margin: 0 18px 18px 0; }
  article:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
    z-index: 1; }
  article .h3-with-star {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    font-size: 1.4em;
    line-height: 1.3em; }
    article .h3-with-star a {
      display: inline-block;
      width: 90%;
      color: white;
      transition: opacity 0.2s; }
      article .h3-with-star a:hover, article .h3-with-star a:focus, article .h3-with-star a:active {
        opacity: 0.7; }
    article .h3-with-star:before {
      content: url("../images/sm-star.svg");
      display: inline-block;
      vertical-align: top;
      line-height: 0;
      margin: 10px 10px 0 0; }
  article.no-image:before {
    background: #008D21 !important; }

.toggler-open:after {
  transform: rotate(180deg); }

.content {
  flex: 1 0 auto;
  background-color: #f1f4f9; }
  .content__wrapper {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box; }
  .content__stat {
    padding-bottom: 64px;
    box-sizing: border-box;
    box-shadow: inset 0 8px 8px -6px rgba(0, 0, 0, 0.1); }
    .content__stat__header {
      background-color: #f9fbfd;
      border: 1px solid #D8DCDE;
      box-sizing: border-box;
      margin-top: 80px;
      float: left;
      width: 100%;
      padding: 15px 45px;
      font-size: 2em; }
      .content__stat__header__text {
        margin-top: 20px;
        float: left;
        font-weight: 500;
        font-size: 0.8em; }
      .content__stat__header > a, .content__stat__header > button {
        float: right; }
    .content__stat form {
      background: url(../images/12.jpg) 130% bottom no-repeat;
      box-sizing: border-box;
      border: 1px solid #D8DCDE;
      border-top: none;
      width: 100%;
      background-color: white;
      padding: 27px 45px 70px;
      display: inline-block;
      text-transform: uppercase;
      color: #9fa3b0;
      font-weight: 500;
      z-index: 1; }
    .content__stat__form-header {
      color: #333;
      text-transform: none;
      opacity: 0.8;
      margin-bottom: 50px; }
    .content__stat__form-body > div {
      margin-bottom: 70px; }
      .content__stat__form-body > div:first-child {
        margin-bottom: 55px; }
      .content__stat__form-body > div:nth-child(2) {
        margin-bottom: 55px; }
      .content__stat__form-body > div:nth-child(odd) {
        width: 250px;
        float: left; }
    .content__stat__form-body input {
      margin-top: -23px;
      padding: 0 20px;
      border: 1px solid #D8DCDE;
      height: 50px;
      font-size: 1.6em;
      color: black;
      font-weight: 500; }
    .content__stat__form-body button {
      padding-left: 50px;
      padding-right: 50px;
      margin-top: -18px; }
    .content__stat__form-body a {
      text-transform: none;
      text-decoration: underline;
      color: #008D21; }
      .content__stat__form-body a:hover, .content__stat__form-body a:focus, .content__stat__form-body a:active {
        text-decoration: none; }
    .content__stat__footer {
      display: none; }
  .content__promo {
    background: url(../images/man.png) calc(50% + 200px) top no-repeat;
    box-shadow: inset 0 8px 8px -6px rgba(0, 0, 0, 0.1); }
    @media (min-width: 960px) and (max-width: 1150px) {
      .content__promo {
        background-position: calc(50% + 250px) top; } }
    .content__promo h1 {
      font-size: 1.6em;
      line-height: 1.1em;
      font-weight: 500;
      margin: 0 0 25px 0; }
    .content__promo form {
      display: inline-block;
      background-color: white;
      margin: 64px 0;
      padding: 36px;
      z-index: 1; }
      .content__promo form input {
        display: block;
        border-radius: 0;
        border: 1px solid #D8DCDE;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        padding: 0 15px;
        box-sizing: border-box;
        font-size: 1.2rem; }
        .content__promo form input::-webkit-input-placeholder {
          color: #363636;
          opacity: 1; }
        .content__promo form input:-moz-placeholder {
          color: #363636;
          opacity: 1; }
        .content__promo form input::-moz-placeholder {
          color: #363636;
          opacity: 1; }
        .content__promo form input:-ms-input-placeholder {
          color: #363636;
          opacity: 1; }
      .content__promo form a {
        display: block;
        text-decoration: underline;
        margin: 25px 0 20px 0; }
      .content__promo form button {
        width: 100%; }
  .content__emergency {
    padding-top: 90px;
    padding-bottom: 70px;
    background-color: white; }
    .content__emergency h2 {
      margin-top: 0;
      text-align: center;
      font-size: 2.8em;
      font-weight: 500;
      line-height: 0.6em; }
      .content__emergency h2 + p {
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 20px; }
    .content__emergency hr {
      width: 135px;
      border: none;
      border-top: 2px solid #EF5937; }
    .content__emergency__districts {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .content__emergency__districts__item {
        position: relative;
        box-sizing: border-box;
        width: calc(33.1% - 20px);
        border: 1px solid #D8DCDE;
        margin-bottom: 20px;
        height: 180px;
        padding: 15px 15px 15px 45px;
        font-size: 1.6em; }
        .content__emergency__districts__item h4 {
          font-weight: 500;
          margin: 22px 0; }
        .content__emergency__districts__item a {
          color: black;
          display: block;
          vertical-align: middle;
          font-weight: bold;
          line-height: 21px;
          margin-bottom: 20px; }
          .content__emergency__districts__item a:before {
            content: url("../images/phone.svg");
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle; }
    .content__emergency_active:before {
      content: url("../images/flag.svg");
      position: absolute;
      top: 0;
      left: 80%; }
  .content__news {
    background-color: #f6f6f6;
    padding: 70px 0;
    border-bottom: 5px solid #EF5937; }
    .content__news h2 {
      font-weight: 500;
      font-size: 2.2em;
      margin: 20px 0 48px;
      float: left; }
    .content__news__all {
      float: right; }
    .content__news__feed {
      clear: both;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .content__news__main {
      height: 390px;
      width: calc(66.6% - 10px); }
      .content__news__main__inner {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        color: white;
        width: 90%;
        margin: 20px 20px 30px; }
        .content__news__main__inner h3 > a {
          font-size: 1.9em;
          line-height: 1em;
          font-weight: 500;
          margin: 15px 0 25px;
          height: 68px;
          overflow: hidden;
          color: white;
          transition: opacity 0.2s; }
          .content__news__main__inner h3 > a:hover, .content__news__main__inner h3 > a:focus, .content__news__main__inner h3 > a:active {
            opacity: 0.7; }
        .content__news__main__inner > a {
          border: 1px solid white;
          color: white;
          border-radius: 2px;
          padding: 4px 0 3px;
          width: 80px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.8rem;
          font-family: 'Muller';
          display: inline-block;
          text-align: center;
          transition: opacity 0.2s;
          opacity: 1; }
          .content__news__main__inner > a:focus {
            outline: none;
            text-decoration: underline; }
          .content__news__main__inner > a:hover {
            opacity: 0.7; }
        .content__news__main__inner p {
          font-family: 'Muller';
          font-weight: bold;
          font-size: 0.9em; }
      .content__news__main__image {
        height: 100%; }
        .content__news__main__image:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); }
    .content__news__item {
      width: calc(33.3% - 21px);
      background-color: white;
      box-shadow: 0 2px 2px rgba(31, 31, 31, 0.1);
      position: relative;
      height: 390px; }
      .content__news__item__video {
        padding-top: 56.25%;
        position: relative;
        border-radius: 4px;
        overflow: hidden; }
        .content__news__item__video img, .content__news__item__video video {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0; }
        .content__news__item__video:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          cursor: pointer;
          background: url(../images/video.svg) center center no-repeat; }
      .content__news__item__image {
        padding-top: 56.25%;
        position: relative;
        cursor: pointer;
        overflow: hidden; }
        .content__news__item__image img {
          position: absolute;
          top: 0px;
          left: 0;
          bottom: 0;
          right: 0; }
      .content__news__item > h3 {
        font-weight: 500;
        color: #333;
        margin: 0 18px;
        font-size: 1.3em;
        line-height: 1.2em;
        height: 44px;
        overflow: hidden; }
        .content__news__item > h3 > a {
          transition: opacity 0.2s; }
        .content__news__item > h3 > a:hover, .content__news__item > h3:focus, .content__news__item > h3:active {
          opacity: 0.7; }
      .content__news__item > a {
        border: 1px solid #006DB8;
        color: #006DB8;
        border-radius: 2px;
        padding: 4px 0 3px;
        width: 80px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
        font-family: 'Muller';
        display: inline-block;
        text-align: center;
        transition: opacity 0.2s;
        opacity: 1;
        margin: 21px 18px 16px; }
        .content__news__item > a:focus {
          outline: none;
          text-decoration: underline; }
        .content__news__item > a:hover {
          opacity: 0.7; }
      .content__news__item > p {
        position: absolute;
        left: 18px;
        bottom: 5px;
        font-size: 0.9em;
        color: #888;
        font-weight: bold; }
    .content__news__main, .content__news__item {
      overflow: hidden;
      position: relative;
      border-radius: 4px 0 0 4px;
      margin-bottom: 30px; }
      .content__news__main__image img, .content__news__item__image img {
        transition: transform 3s;
        transform: translateZ(0); }
      .content__news__main img, .content__news__item img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
  .content__chronicle {
    padding: 60px 0; }
    .content__chronicle h2 {
      font-weight: 500;
      font-size: 2.2em;
      margin: 20px 0 48px;
      line-height: 42px; }
      .content__chronicle h2 img {
        float: left; }
      .content__chronicle h2 span {
        line-height: 42px; }
    .content__chronicle__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .content__chronicle__item {
      box-sizing: border-box;
      width: calc(33.3% - 21px);
      margin-bottom: 30px;
      padding: 21px 24px;
      background-color: white;
      overflow: hidden;
      box-shadow: 0 2px 2px rgba(31, 31, 31, 0.1);
      border-radius: 4px; }
      .content__chronicle__item__image {
        overflow: hidden;
        padding-top: 100%;
        position: relative;
        cursor: pointer; }
        .content__chronicle__item__image img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          object-fit: cover;
          width: 100%;
          height: 100%; }
      .content__chronicle__item__date {
        color: #999;
        font-size: 1.2em;
        margin: 10px 0 20px; }
      .content__chronicle__item__text {
        line-height: 1.3em; }
  .content__myhome-header {
    background: url("../images/home.svg") white 40px 50px no-repeat;
    border: 1px solid #D8DCDE;
    padding: 35px 40px 35px 115px;
    margin: 35px 0 35px; }
    .content__myhome-header h1 {
      font-weight: 500;
      font-size: 3em; }
    .content__myhome-header p {
      width: 38%;
      line-height: 1.5em; }
    .content__myhome-header select {
      float: right; }
  .content__myhome-accordion {
    width: calc(66.6% - 8px);
    display: none;
    margin: -15px 0 35px; }
    .content__myhome-accordion__header {
      padding: 0 45px 0 90px;
      height: 90px;
      box-sizing: border-box;
      border: 1px solid #D8DCDE;
      border-bottom: none;
      position: relative; }
      .content__myhome-accordion__header h3 {
        line-height: 1.2em;
        position: relative;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        font-weight: normal; }
      .content__myhome-accordion__header a {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        float: right;
        color: #008D21;
        outline: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .content__myhome-accordion__header a:after {
          content: url("../images/dropdown.svg");
          margin-left: 5px;
          transition: transform 0.2s;
          line-height: 0;
          display: inline-block; }
    .content__myhome-accordion__body {
      display: none;
      background-color: white;
      padding: 20px;
      border: 1px solid #D8DCDE;
      border-top: none; }
    .content__myhome-accordion_1 .content__myhome-accordion__header {
      background: url("../images/sovet.svg") white 18px center no-repeat; }
    .content__myhome-accordion_2 .content__myhome-accordion__header {
      background: url("../images/docs.svg") white 18px center no-repeat; }
    .content__myhome-accordion_3 .content__myhome-accordion__header {
      background: url("../images/tariff.svg") white 18px center no-repeat; }
    .content__myhome-accordion_4 .content__myhome-accordion__header {
      background: url("../images/articles.svg") white 18px center no-repeat; }
    .content__myhome-accordion > div {
      transition: margin-bottom 0.2s;
      background-color: white; }
    .content__myhome-accordion_fixed {
      position: fixed !important;
      left: 50%;
      z-index: 3;
      margin-top: 0 !important; }
  .content__myhome-member {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 15px 10px; }
    .content__myhome-member p, .content__myhome-member a {
      color: #828282;
      line-height: 1em; }
    .content__myhome-member_blue {
      background-color: #e4ebf8; }
  .content__myhome-document {
    padding: 20px;
    display: inline-block;
    width: 49%;
    box-sizing: border-box; }
    .content__myhome-document:before {
      content: url("../images/doc.svg");
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px; }
    .content__myhome-document a {
      text-decoration: underline;
      font-size: 1.1em; }
      .content__myhome-document a:hover, .content__myhome-document a:active, .content__myhome-document a:focus {
        color: #008D21;
        transition: color 0.2s; }
  .content__myhome-tariffs h3 {
    font-weight: normal; }
  .content__myhome-tariffs table {
    width: 100%;
    text-align: right; }
    .content__myhome-tariffs table tr {
      transition: background-color 0.2s; }
      .content__myhome-tariffs table tr:hover {
        background-color: #f1f4f9; }
      .content__myhome-tariffs table tr td {
        border-top: 1px solid #D8DCDE;
        padding: 5px; }
      .content__myhome-tariffs table tr td:first-child, .content__myhome-tariffs table tr th:first-child {
        text-align: left;
        width: 50%;
        padding: 20px 5px; }
  .content__myhome-tariffs hr {
    width: calc(100% + 40px);
    top: 0;
    left: -20px;
    position: relative;
    border: none;
    border-top: 1px solid #D8DCDE; }
  .content__myhome-tariffs a {
    color: #363636;
    text-decoration: underline;
    margin: 20px;
    display: inline-block; }
    .content__myhome-tariffs a:before {
      content: '';
      background-image: url("../images/doc.svg");
      background-size: 12px 15px;
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 15px;
      margin-right: 15px; }
  .content__myhome-articles {
    margin-right: -18px; }
  .content__myhome-debt {
    margin: -15px 0 35px;
    width: calc(33.3% - 8px);
    box-sizing: border-box;
    float: right;
    background-color: white;
    border: 1px solid #D8DCDE;
    padding: 40px 30px;
    position: relative;
    display: none; }
    .content__myhome-debt__text {
      display: block;
      font-size: 1.1em;
      line-height: 1.3em; }
      .content__myhome-debt__text > span {
        display: inline-block; }
        @media (max-width: 1200px) {
          .content__myhome-debt__text > span {
            font-size: 1.4vw; } }
      .content__myhome-debt__text:before {
        content: url("../images/warn.svg");
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        padding-top: 5px; }
    .content__myhome-debt__amount {
      font-size: 3em;
      line-height: 2.5em;
      font-weight: bold;
      position: relative;
      color: #333; }
      @media (max-width: 1200px) {
        .content__myhome-debt__amount {
          font-size: 3.4vw; } }
      .content__myhome-debt__amount:after {
        content: 'РУБ';
        position: relative;
        left: 10px;
        top: -15px;
        font-size: 0.5em; }
    .content__myhome-debt a, .content__myhome-debt button {
      width: 100%; }

.footer {
  background: url(../images/12.jpg) 130% 50px no-repeat;
  color: #757575;
  font-size: 1.5em;
  z-index: 1;
  flex: 0 0 auto;
  padding-top: 30px; }
  @media (min-width: 960px) and (max-width: 1150px) {
    .footer {
      font-size: 1.5vw;
      padding: 1.5vw;
      background-position: 130% 1.6vw; } }
  .footer__menu {
    display: flex;
    padding-bottom: 115px; }
    .footer__menu .col_1 {
      flex-grow: 2 !important; }
      .footer__menu .col_1 p img {
        display: inline;
        margin: 0 15px 40px 0; }
    .footer__menu .col_1, .footer__menu .col_2, .footer__menu .col_3, .footer__menu .col_4 {
      flex-grow: 3; }
      .footer__menu .col_1 a:not(.btn-red), .footer__menu .col_2 a:not(.btn-red), .footer__menu .col_3 a:not(.btn-red), .footer__menu .col_4 a:not(.btn-red) {
        display: block;
        color: #757575;
        text-decoration: underline;
        margin-bottom: 32px;
        font-size: 0.75em;
        background-color: white;
        padding: 5px; }
        .footer__menu .col_1 a:not(.btn-red):hover, .footer__menu .col_1 a:not(.btn-red):focus, .footer__menu .col_1 a:not(.btn-red):active, .footer__menu .col_2 a:not(.btn-red):hover, .footer__menu .col_2 a:not(.btn-red):focus, .footer__menu .col_2 a:not(.btn-red):active, .footer__menu .col_3 a:not(.btn-red):hover, .footer__menu .col_3 a:not(.btn-red):focus, .footer__menu .col_3 a:not(.btn-red):active, .footer__menu .col_4 a:not(.btn-red):hover, .footer__menu .col_4 a:not(.btn-red):focus, .footer__menu .col_4 a:not(.btn-red):active {
          text-decoration: none; }
      .footer__menu .col_1 a.btn-red, .footer__menu .col_2 a.btn-red, .footer__menu .col_3 a.btn-red, .footer__menu .col_4 a.btn-red {
        margin-top: 20px; }
    .footer__menu .col_1-1, .footer__menu .col_1-2 {
      padding-right: 20px;
      float: left; }
  .footer__bottom {
    background-color: white;
    font-size: 0.75em; }
    .footer__bottom .content__wrapper {
      padding-top: 25px;
      padding-bottom: 55px;
      border-top: 2px solid #e3e3e3;
      text-align: center; }
      .footer__bottom .content__wrapper a {
        margin-left: 5px; }
    .footer__bottom__copy {
      float: left;
      margin: 10px; }
    .footer__bottom__design {
      float: right;
      margin: 10px; }

.search-block {
  display: none; }

.body-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0;
  background-color: black; }

@media (max-width: 960px) {
  .nav-menu, .main-menu {
    display: none; }
  .mobile-menu {
    display: block;
    position: fixed;
    z-index: 4;
    text-align: center;
    background-color: white;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
    .mobile-menu:after {
      background-color: white;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1; }
    .mobile-menu input[type=checkbox] {
      display: none; }
      .mobile-menu input[type=checkbox]:checked ~ label {
        background: url("../images/close.png") center center no-repeat; }
      .mobile-menu input[type=checkbox]:checked ~ ul {
        top: 5%;
        visibility: visible; }
        .mobile-menu input[type=checkbox]:checked ~ ul:before {
          visibility: visible;
          opacity: 0.5; }
    .mobile-menu label {
      cursor: pointer;
      background: url("../images/menu.svg") center center no-repeat;
      width: 24px;
      height: 18px;
      display: inline-block;
      float: left;
      padding: 7px;
      margin-top: 10px; }
    .mobile-menu ul {
      box-sizing: border-box;
      visibility: hidden;
      position: fixed;
      z-index: -1;
      left: 0;
      top: -70%;
      padding: 20px 0;
      background-color: white;
      width: 100%;
      box-shadow: inset 0 8px 8px -6px rgba(0, 0, 0, 0.1);
      box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.1);
      transition: max-height 0.5s, top 0.5s, visibility 0.5s; }
      .mobile-menu ul > li {
        list-style-type: none;
        padding: 7px; }
        .mobile-menu ul > li a, .mobile-menu ul > li button {
          box-sizing: border-box;
          display: inline-block;
          padding: 15px;
          width: 100%;
          max-width: 300px; }
      .mobile-menu ul:before {
        content: '';
        left: 0;
        top: 100%;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 200vh;
        opacity: 0;
        background-color: black;
        visibility: hidden;
        transition: opacity 0.5s; }
    .mobile-menu h1 {
      display: inline-block; }
    .mobile-menu > a {
      float: right;
      margin-top: 10px; }
  .btn-red, .btn-white, .btn-green {
    border-radius: 4px; }
  .content__wrapper {
    padding: 0 15px; }
  .content__stat {
    padding-bottom: 45px; }
    .content__stat > div {
      max-width: 490px; }
    .content__stat__header {
      background: white;
      padding: 15px;
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
      text-align: center;
      border-bottom: none;
      line-height: 1.1em; }
      .content__stat__header > a, .content__stat__header > button {
        display: none; }
      .content__stat__header .profile__status {
        display: block; }
      .content__stat__header__text {
        text-align: left;
        font-size: 0.9em; }
    .content__stat form {
      padding: 30px 15px;
      background: #F9FBFD;
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px); }
      .content__stat form input {
        width: 100%;
        box-sizing: border-box; }
    .content__stat__form-header {
      margin-bottom: 30px; }
    .content__stat__form-body > div {
      margin-bottom: 20px; }
      .content__stat__form-body > div:first-child {
        margin-bottom: 40px; }
      .content__stat__form-body > div:nth-child(2) {
        margin-bottom: 30px; }
      .content__stat__form-body > div:nth-child(odd) {
        width: 180px; }
      .content__stat__form-body > div:nth-child(7) {
        font-size: 1.2em;
        width: 100%;
        margin: 10px 0 40px; }
    .content__stat__form-body button {
      width: 100%; }
    .content__stat__footer {
      padding-top: 36px;
      display: block; }
      .content__stat__footer a, .content__stat__footer button {
        width: 100%; }
  .content__promo {
    background: none;
    background-color: #f1f4f9; }
    .content__promo > div {
      text-align: center; }
    .content__promo form {
      box-sizing: border-box;
      width: 100%;
      max-width: 400px;
      margin-top: 80px;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 45px;
      padding: 30px 15px;
      border: 1px solid #D8DCDE;
      width: calc(100% + 30px); }
      .content__promo form h1 {
        font-size: 1.4em; }
      .content__promo form > a {
        letter-spacing: -0.2px; }
  .content__emergency {
    padding-top: 40px;
    padding-bottom: 30px; }
    .content__emergency hr {
      width: 100%; }
    .content__emergency h2 {
      font-size: 1.4em;
      line-height: 1em; }
      .content__emergency h2 + p {
        font-size: 1em;
        line-height: 1.3em; }
    .content__emergency__districts {
      margin-top: 30px; }
      .content__emergency__districts__item {
        width: 100%;
        padding: 5px 30px;
        height: 180px;
        font-size: 1.7em;
        line-height: 1em; }
        .content__emergency__districts__item h4, .content__emergency__districts__item a {
          margin-bottom: 25px; }
  .content__news {
    padding: 30px 0 20px; }
    .content__news h2 {
      line-height: 1em; }
    .content__news__all {
      display: none; }
    .content__news__main {
      width: calc(100% + 30px);
      height: 290px;
      margin-left: -15px;
      margin-right: -15px;
      border-radius: 0; }
      .content__news__main h3 > a {
        font-size: 1.1em;
        line-height: 1.5em; }
      .content__news__main__image:before {
        background: rgba(0, 0, 0, 0.6); }
    .content__news__item {
      width: 100%;
      height: auto;
      padding-bottom: 45px; }
    .content__news__main, .content__news__item {
      margin-bottom: 15px; }
  .content__chronicle {
    padding: 20px 0; }
    .content__chronicle h2 {
      text-align: center; }
      .content__chronicle h2 img {
        float: none; }
      .content__chronicle h2 span {
        box-sizing: border-box;
        display: inline-block;
        font-size: 0.7em;
        line-height: 1.3em; }
    .content__chronicle__item {
      width: 100%; }
  .content__my-home__accordion {
    width: 100%;
    margin-bottom: 30px; }
  .content__my-home__debt {
    width: 100%;
    float: none; }
  .footer {
    background-position: calc(100% + 300px) 120px;
    background-size: 613px; }
    .footer .col_2, .footer .col_3 {
      display: none; }
    .footer .col_1 {
      display: block; }
      .footer .col_1 h4 {
        margin: 50px 0 35px; }
    .footer .col_4 {
      text-align: center; }
      .footer .col_4 a, .footer .col_4 button {
        margin-top: 20px !important;
        width: 100%;
        max-width: 350px; }
    .footer__menu {
      flex-direction: column-reverse;
      padding-bottom: 100px; }
    .footer__bottom > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: 500;
      padding-bottom: 20px !important; }
    .footer__bottom__copy {
      order: 1;
      margin-top: 20px; }
    .footer__bottom__design {
      order: 2;
      text-align: left;
      font-size: 0.85em;
      white-space: nowrap; } }

@media (min-width: 600px) and (max-width: 960px) {
  .content__emergency__districts__item {
    font-size: 1.3em;
    white-space: nowrap;
    width: calc(33.1% - 20px); }
  .content__news__item {
    height: 45vw;
    width: calc(50% - 7px); }
  .content__chronicle__item {
    width: calc(50% - 7px); } }

@media (min-width: 961px) {
  .search-block {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    height: 150px;
    text-align: right; }
    .search-block-input {
      outline: none;
      float: left;
      border: none;
      border-left: 1px solid #333;
      padding: 0 15px;
      box-sizing: border-box;
      height: 46px;
      font-size: 1.7em;
      color: #333;
      margin: 52px 0;
      width: calc(100% - 286px); }
      .search-block-input::-webkit-input-placeholder {
        color: #363636;
        opacity: 1; }
      .search-block-input:-moz-placeholder {
        color: #363636;
        opacity: 1; }
      .search-block-input::-moz-placeholder {
        color: #363636;
        opacity: 1; }
      .search-block-input:-ms-input-placeholder {
        color: #363636;
        opacity: 1; }
    .search-block-submit {
      margin: 50px 25px 50px 0;
      padding-left: 70px;
      padding-right: 70px; }
    .search-block-close {
      vertical-align: middle;
      border: none;
      background: none;
      cursor: pointer;
      outline: none; } }
